.gold-house {
  //自定义滚动条样式
  ::-webkit-scrollbar-track {
    height: 100px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #d8d8d8;
    -webkit-border-radius: 5px;
    height: 100px;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 100px;
  }
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #2d8ef8;
    -webkit-border-radius: 5px;
    outline: 2px solid #fff;
    outline-offset: -2px;
  }
  padding: 20px;
  .filter {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 4px;
    .label {
      width: 120px;
      height: 48px;
      line-height: 48px;
      background: #f8f9fa;
      border-right: 1px solid #ced4da;
      border-radius: 4px 0 0 4px;
      color: #868e96;
      text-align: center;
    }
    .radio-group {
      padding-left: 30px;
      display: flex;
      align-items: center;
    }
  }

  .content {
    margin-top: 30px;
    .el-tabs__nav {
      float: none;
      .is-active {
        background-color: #409eff !important;
        color: #fff !important;
      }
      .el-tabs__item {
        height: 48px;
        line-height: 48px;
        width: 50%;
        text-align: center;
        font-size: 18px;
        &:last-child {
          margin-left: 2px;
        }
      }
    }
    .serach {
      display: flex;
      margin-top: 10px;
      margin-bottom: 30px;
      .el-input__inner {
        border-radius: 4px 0 0 4px;
      }

      .el-button {
        border-radius: 0 4px 4px 0;
      }
    }
    .no-answer {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      @media (max-width: 1500px) {
        .item {
          width: 32%;
          &:nth-child(3n-1) {
            margin-left: 2%;
            margin-right: 2%;
          }
        }
      }
      @media (min-width: 1500px) {
        .item {
          width: 24%;
          margin-left: 1.3%;
          &:nth-child(4n + 1) {
            margin-left: 0;
          }
        }
      }
      .item {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f8f9fa;
        border-radius: 4px;
        transition: all 0.5;
        cursor: pointer;

        .scale {
          width: 100%;
          height: 0;
          position: relative;
          padding-bottom: 75%;
          background-color: #fff;
          > .image {
            width: 100%;
            height: 100%;
            position: absolute;
          }
        }

        &:hover {
          transform: translateY(-10px);
          border: 1px solid #409eff;
        }
        .image-slot {
          width: 100%;
          height: 246px;
          line-height: 246px;
          text-align: center;
          font-size: 35px;
        }
        .el-image__inner {
          border-radius: 4px;
        }
        .info {
          padding: 12px 20px;
          .title {
            font-size: 18px;
            color: #495057;
          }
          .label {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 10px 0;
            span {
              background: #ffffff;
              border: 1px solid #ced4da;
              border-radius: 4px;
              padding: 4px 10px;
              margin: 5px 10px 5px 0;
              font-size: 14px;
            }
          }

          .user {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            .update {
              margin-left: 10px;
              font-size: 12px;
              color: #adb5bd;
            }
          }

          .create {
            display: flex;
            font-size: 12px;
            color: #adb5bd;
            margin-top: 10px;
            div {
              width: 50%;
            }
          }
        }
      }

      > .dialog {
        .el-dialog__body {
          padding: 0;
        }
        .dialog-content {
          border-top: 1px solid #ced4da;
          padding: 20px 30px;
          > div {
            &:first-child {
              border-bottom: 1px dashed #ced4da;
              padding-bottom: 20px;
              margin-bottom: 20px;
            }
            > div {
              &:first-child {
                color: #343a40;
                font-weight: bold;
                margin-bottom: 10px;
              }
              &:last-child {
                color: #495057;
                line-height: 1.5;
              }
            }
          }
          .address {
            height: 100px;
            overflow-y: auto;
            > div {
              margin-top: 5px;
              &:first-child {
                margin-top: 0;
              }
              > span {
                &:first-child {
                  font-weight: 450;
                }
              }
            }
          }

          .summary {
            height: 300px;
            overflow-y: auto;
            img {
              max-width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.goldhouse_detail {
  padding: 20px;
  .goldhouse_detail-card {
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    .goldhouse_detail-card-header {
      padding: 25px 20px;
      border-bottom: 1px solid #ced4da;
      > div {
        &:first-child {
          font-size: 18px;
          color: #343a40;
        }
        &:last-child {
          display: flex;
          align-items: center;
          margin-top: 10px;
          & > span {
            color: #adb5bd;
            font-size: 14px;
            margin-right: 30px;
          }
        }
      }
    }

    .goldhouse_detail-card-address {
      margin: 25px 20px;
      padding-bottom: 25px;
      border-bottom: 1px dashed #ced4da;
      > div {
        > span {
          &:first-child {
            font-size: 14px;
            color: #2d8ef8;
          }
        }
        &:first-child {
          font-size: 16px;
          color: #495057;
          margin-bottom: 5px;
        }
      }
    }

    .goldhouse_detail-card-content {
      padding: 0 20px 25px 20px;
      > div {
        &:first-child {
          font-size: 16px;
          color: #495057;
          margin-bottom: 10px;
        }
        &:last-child {
          background-color: #F8F9FA ;
          padding: 20px;
        }
      }
      &-info {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
